.product__item {
    .item__image {
        border-radius: 30px;
        height: 380px;
        display: flex;
        align-items: center;
        overflow: hidden; 
        img {
            display: block;
            width: 100%;
            filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
            transform: rotate(-24deg);
            margin-left: -16px;
        }
    }
    .item__name {
        font-size: 20px;
        font-weight: 700;
        margin: 26px 0 20px;
        line-height: 1.5;
    }
    
    .item__description {
        font-size: 13px;
        color: #777777;
        line-height: 1.8;
        margin-bottom: 20px;
    }
    
    .item__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item__price {
            font-size: 18px;
            font-weight: 700;
        }
    
        .item__button {
            cursor: pointer;
            background-color: #f6c90e;
            font-weight: 700;
            font-size: 14px;
            box-sizing: border-box;
            width: auto;
            height: 46px;
            min-width: 46px;
            padding: 16px 20px;
            border-radius: 100px;
            transition: all .25s ease;
            user-select: none;
            white-space: nowrap;
            position: relative;
            display: flex;
            align-items: center;
            overflow: hidden;
            animation-duration: 2s;
            &:hover {
                background-color: #f8d43f;
                box-shadow: -2px 2px 4px rgba(0,0,0,.15);
            }
            .selected {
                display: none;
            }
            .unselected {

            }
            .active {
                display: block;
                width: 18px;
                // height: 18px;
            }
            .inactive {
                display:none
            }
        }
        .selected-btn {
            pointer-events: none;
            cursor: default;
            width: 46px;
            padding: 15px;

        }       
    }
    
    
    }
.item__image {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
        transform: rotate(-24deg);
        margin-left: -16px;
    }
}
.item__name {
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
}

.item__description {
    font-size: 13px;
    color: #777777;
    line-height: 1.8;
    margin-bottom: 20px;
}



